body {
    background-image: url('https://images3.alphacoders.com/107/1073176.jpg');
    background-size: auto 100vh;
    font-family: Arial;
    height: 100vh;
  }
  
  .menu {
    background-color: White;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  a:hover {
    text-decoraion: underline;
  }
  
  .site-subtitle,
  .site-title {
    color: whitesmoke;
    text-align: center;
  }
  
  .site-subtitle {
    font-style: italic;
  }